  <h1>
    Bienvenidos a {{ title }}!
  </h1>
  <hr>
  <nav>
  	<a [routerLink]="['pagina-principal']" [routerLinkActive]="['activado']">Home</a>
  	<a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Pagina de contacto</a>
  	<a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>
  	<a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>
  </nav>
  <hr>
 <!-- <fruta></fruta>
  <hr>
  <anime></anime> -->

  <!-- <empleado-tag></empleado-tag> -->
  <router-outlet></router-outlet>
