.fondoAzul{
	background-color: lightblue;
}
.fondoAmarillo{
	background-color: yellow;
}
.fondoVerde{
	background-color: lightgreen;
}
.letraGrande{
	font-size: 40px;
}
.activado{
	background-color: lightblue;
}